<!-- <div class="container">
    <h1 class= "text">
        Square of number Example
</h1>       
<h2 class="text-center bg-warning text-white">
    Side:{{side}} Area {{side|square}}
</h2>
</div> -->
<!-- 
<div>
    File One Size{{file1Size}} MB
    <br/>
    File Two Size{{file1Size}} MB
    <hr/>
    Datebase1 one size {{file1Size}} GB <br/>
    Database Two size  {{file2Size}} GB <br/>
<hr/>
    Image One Size {{img1Size}} Bytes <br/>
    Image Two Size {{file1Size}} Bytes
</div> -->

<div>
    <h6>Firstcall: {{username}}</h6>
    <h6>Firstcall: {{username|welcome}}</h6>
    <h6>Firstcall: {{username|welcome:'Ms.'}}</h6>
    <h6>Firstcall: {{username|welcome:'Ms.':'Genpact'}}</h6>
    <h6>Firstcall: {{username|welcome:'Ms.':'Genpact':'gurugram'}}</h6>
</div>